<header>
  <div class="container header">
    <div class="logo">
      <a href="#"><h1>NV Shop</h1></a>
    </div>
    <div class="nav">
      <ul class="nav__links">
        <li class="nav__link-item">
          <a href="#" class="is-active">Home</a>
        </li>
        <li class="nav__link-item">
          <a href="#">Men</a>
        </li>
        <li class="nav__link-item">
          <a href="#">Women</a>
        </li>
        <li class="nav__link-item">
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="header-right fs-2">
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </div>
</header>
